rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function isSelf(userId) {
      return signedIn() && request.auth.uid == userId;
    }

    function userDocExists(userId) {
      return exists(/databases/$(database)/documents/users/$(userId));
    }

    function isAdmin() {
      return signedIn()
        && (
          request.auth.token.admin == true
          || (
            user